html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  margin: 0;
  background: $brand-background;
  font-family: $brand-sans-serif;
}

.sub-main {
  display: flex;
  max-width: 70rem;
  margin: auto;
  margin-top: 1.6rem;
}


ul {
  padding-left: 0;

  list-style: none;
}
